<div class="container">


  <div class="row mb-2">
  {{#each results}}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 tipo-letra-color">{{even_categoria}}</strong>
          <h3 class="mb-0 titulo-letra-color">{{even_nombre}}</h3>
          <div class="mb-1 text-muted">Fecha: {{even_fecha}}</div>
          <p class="card-text mb-auto">{{even_duracion}} horas</p>
          <a href="/verEvento/{{even_id}}" class="stretched-link">Sigue leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src={{even_foto}} width="200" height="200">
        </div>
      </div>
    </div>
  {{else}}
    <h3 class=" font-italic col-md text-center font-weight-lighter">No hay eventos en el momento</h3>
  {{/each}}
  </div>
</div>
