<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #A61C31;">
    <a class="navbar-brand" href="#">Circulo Rolo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" id="sesion">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/registro" id="registro">Resgistrarse</a>
            </li>
          </ul>
      <a href="#" style="color: white"></a>
    </div>
  </nav>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">

      <a class="p-2 text-muted" href="/conciertos">Conciertos</a>
      <a class="p-2 text-muted" href="/cultura">Cultura</a>
      <a class="p-2 text-muted" href="/comedia">Comedia</a>
      <a class="p-2 text-muted" href="/teatro">Teatro</a>
      <a class="p-2 text-muted" href="/familiar">Familiar</a>
      <a class="p-2 text-muted" href="/deportes">Deportes</a>
      <a class="p-2 text-muted" href="/festivales">Festivales</a>
      <a class="p-2 text-muted" href="/educativos">Educativos</a>
    </nav>
  </div>

</div>

<div class="container">


  <div class="row mb-2">
  {{#each results}}

    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 tipo-letra-color">{{even_categoria}}</strong>
          <h3 class="mb-0 titulo-letra-color">{{even_nombre}}</h3>
          <div class="mb-1 text-muted">Fecha: {{even_fecha}}</div>
          <p class="card-text mb-auto">{{even_duracion}} horas</p>
          <a href="/verEvento/{{even_id}}" class="stretched-link">Sigue leyendo</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src={{even_foto}} width="200" height="200">
        </div>
      </div>
    </div>
  {{else}}
    <h3 class=" font-italic col-md text-center font-weight-lighter">No hay eventos en el momento</h3>
  {{/each}}
  </div>
</div>
